body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}






/*
flex-wrap: wrap; => No sobresalen del 100% de la pagina
           no-wrap => Sobresale de la pagina.

flex-flow: equivale a flex-direction flex-wrap.
    row wrap: fila y no se sale de pant.
    column wrap: columna y no se sale de pant.
    Tambien column-reverse, row-reverse...
*/
#layout{
    display: flex;

    /* flex-direction: row;
    flex-wrap: wrap; */

    flex-flow: row wrap;

    border: 3px solid black;
    padding: 5px;
}
/*

unset: ninguno. hace el default.
row: fila(Default)
row-reverse: fila al reves
column: columna
column-reverse: columna al reves

*/






.caja{
    /* width: 8.8%; */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background: grey;
}

.red{
    order: 4;
    background: red;
}
.green{
    order: 1;
    background: green;
}
.blue{
    order: 2;
    background: blue;
}
.orange{
    order: 3;
    background: orange;
}
/*
order: ordenar; 1 el ultimo. -1 el primero. SÍ SOLO HAY UN ORDER PUESTO

Sí hay varios order puestos sin -
*/