body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}






/*
flex-wrap: wrap; => No sobresalen del 100% de la pagina
           no-wrap => Sobresale de la pagina.

flex-flow: equivale a flex-direction flex-wrap.
    row wrap: fila y no se sale de pant.
    column wrap: columna y no se sale de pant.
    Tambien column-reverse, row-reverse...
*/
#layout{
    display: flex;

    /* flex-direction: row;
    flex-wrap: wrap; */

    flex-flow: row wrap;

    border: 3px solid black;
    padding: 5px;
}
/*

unset: ninguno. hace el default.
row: fila(Default)
row-reverse: fila al reves
column: columna
column-reverse: columna al reves

*/





/*
- Indica cuanto puede crecer un elemento dentro del contenedor de flexbox. Y cuanto espacio puede ocupar.

flex-grow: 1; =>Coloca el ancho automatico en cada caja. Se debe poner en cada caja. No en el padre.

flex-grow: 0; Por Defecto.
*/
.caja{
    flex-grow: 1;

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background: grey;
}
/*
flex-grow: 5; => Da 5 % mas espacio que en las otras que no hay nada puesto.
*/
.red{
    flex-grow: 7;
    /* order: 4; */
    background: red;
}
.green{
    flex-grow: 7;
    /* order: 1; */
    background: green;
}
.blue{
    flex-grow: 0;
    flex-shrink: 0;
    /* order: 2; */
    background: blue;
}
.orange{
    flex-grow: 7;
    /* order: 3; */
    background: orange;
}
/*
order: ordenar; 1 el ultimo. -1 el primero. SÍ SOLO HAY UN ORDER PUESTO

Sí hay varios order puestos sin -
*/

/*

*/






