 /* Variables */
/* Se pueden declarar en el body tambien.*/
body{
    --rojo: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



/*
flex-wrap: wrap; => No sobresalen del 100% de la pagina
           no-wrap => Sobresale de la pagina.

flex-flow: equivale a flex-direction flex-wrap.
    row wrap: fila y no se sale de pant.
    column wrap: columna y no se sale de pant.
    Tambien column-reverse, row-reverse...
*/
#layout{
    display: flex;

    /* flex-direction: row;
    flex-wrap: wrap; */

    flex-flow: row wrap;

    justify-content: space-evenly;

    height: 600px;
    align-items: flex-start;
    /*
    align-items: flex-start; => arriba
                 center;=> en el centro
                 baseline => Ocupa lo que hay dentro.
    */
    border: 3px solid black;
    padding: 5px;
}
/*
unset: ninguno. hace el default.
row: fila(Default)
row-reverse: fila al reves
column: columna
column-reverse: columna al reves
*/
/*
-Esto es sin flex grow y flex basis en las cajas.
 justify-content: space-around; => Distribuye las cajas.
                  flex-start; => Al principio (Left lo mismo).
                  flex-end; => Al final (Right lo mismo).
                  center; => Lo centra.
                  space-between;=> Distribuye pero las cajas pegadas a los lados
                  space-evenly;=> Parecida a spce-around. Ademas centra.
*/


/*
- flex-grow: Indica cuanto puede crecer un elemento dentro del contenedor de flexbox. Y cuanto espacio puede ocupar.

flex-grow: 1; =>Coloca el ancho automatico en cada caja. Se debe poner en cada caja. No en el padre.

flex-grow: 0; Por Defecto.
*/
.caja{
    flex-grow: 1;

    /* flex-basis: 25%; */
    /* flex-basis: calc((100% / 3) - 68px); */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background: grey;
}
/*
flex-grow: 5; => Da 5 % mas espacio que en las otras que no hay nada puesto.
*/
.red{
    /* flex-grow: 7; */
    /* order: 4; */

    /* flex-basis: calc((100% / 3) - 80px); */

    align-self: flex-start;
    background: var(--rojo);
}
.green{
    /* flex-grow: 7; */
    /* order: 1; */
    /* flex-basis: calc((100% / 3) - 80px); */

    align-self: center;
    background: green;
}
.blue{
    /* flex-grow: 0; */
    /* flex-shrink: 0; */
    /* order: 2; */
    /* flex-basis: calc((100% / 3) - 80px); */

    align-self: center;
    background: blue;
}
.orange{
    /* flex-grow: 7; */
    /* order: 3; */

    /* flex-basis: 100%; */
    align-self: flex-end;
    background: orange;
}
/*
order: ordenar; 1 el ultimo. -1 el primero. SÍ SOLO HAY UN ORDER PUESTO

Sí hay varios order puestos sin -
*/

/*
flex-grow: 0;
flex-shrink: 0;
- Reduce un poco el tamaño de la caja.
*/

/*
flex-basis: calc((100% / 3) - 80px); => es como el width pero en flexbox. Usar este en flexbox.
*/




