@media(max-width:1253px){
    .wrap{
        width: 90%;
        margin: 0px auto;
    }
    .card{
        width: 17%;
        margin: 1.40%;
    }
    .card .description{
        display: block;
        float: left;
        font-family: "TrebuchetMS";
        width: 90%;
        margin: 0px auto;
        margin-top: 69px;
        font-size: 14px;
        text-align: center;
        line-height: 16px;
    }
    #articles{
        width: 65%;
    }
    #footer .wrap > div{
        width: 25%;
        margin: 4%;
    }
    #footer ul{
        font-size: 20px;
    }
    #footer h5{
        font-size: 32px;
    }
    #footer #browsers img{
        width: 14%;
    }
    #location iframe{
        height: 64%;
        width: 89%;
    }
    #banner h1{
        width: 100%;
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
    }
}














@media(max-width:1084px){
    .card .category{
        font-size: 17px;
    }
    .card .description{
        font-size: 12px;
    }
    .card .icon{
        font-size: 40px;
    }
    .card:hover .icon{
        font-size: 60px;
    }
    #articles{
        width: 61%;
    }
    #footer{
        height: 404px;
    }
}












@media(max-width:970px){
    #lateral{
        width: 31%;
    }
    #lateral input[type="button"] {
        margin-left: 22%;
    }
    #login input[type="submit"], 
    #login input[type="button"], 
    #login input[type="reset"], 
    #login button {
        width: 38.5%;
    }
    #login input[type="email"], 
    #login input[type="password"]{
        width: 73%;
    }
    #articles{
        width: 58%;
    }
    #articles h2{
        font-size: 30px;
    }
    #articles article h4{
        font-size: 20px;
    }
    #articles .data{
        font-size: 11px;
    }
    #articles article p{
        margin-top: 9px;
        margin-bottom: 9px;
        font-size: 13spx;
    }
    #footer{
        height: 296px;
    }
    #footer ul li a{
        height: 22px;
    }
    #footer img{
        margin-bottom: 5px;
    }
    #location iframe{
        height: 46%;
        width: 87%;
    }
    #footer h5{
        font-size: 22px;
        width: 174px;
        height: 36px;
        line-height: 40px;
        margin: 0px auto;
    }
    #footer #info p > img{
        margin: 0px auto;
        margin-top: 5px;
        margin-bottom: -1px;
        margin-left: 17px;
        width: 173px;
    }
    #footer #browsers img{
        width: 10%;
        margin-top: 5px;
    }
    #footer ul{
        font-size: 17px;
    }
    .card{
        width: 17%;
        margin: 1.40%;
        height: 241px;
    }
    .card .description{
        width: 90%;
        margin: 0px auto;
        margin-top: 46px;
        font-size: 12px;
        text-align: center;
        line-height: 15px;
    }
    .card .category{
        font-size: 13px;
    }
    .card .icon{
        font-size: 35px;
    }
    #blog a{
        font-size: 36px;
    }

}











@media(max-width:900px){
    #banner h1{
        font-size: 32px;
    }
    #articles{
        width: 62%;
    }
    .card .icon{
        line-height: 100px;    
    }
    .card .description{
        margin-top: 35px;
    }
    .card .category{
        line-height: 0px;
    }
    #lateral h3{
        font-size: 22px;
    }
    #lateral input[type="button"] {
        margin-left: 20%;
    }
    #login #password, 
    #login #user {
        margin-left: 19px;
    }
    #login input[type="reset"]{
        display: none;
    }
    #login input[type="submit"]{
        margin-left: 31%;
    }
    #footer{
        height: 254px;
    }
    #footer ul{
        font-size: 16px;
    }
    #footer ul li a{
        height: 19px;
    }
}













@media(max-width: 762px){
    .card .category{
        font-size: 10px;
    }
    .card .description{
        font-size: 8px;
    }
    #lateral{
        min-height: 1048px;
    }
    #articles{
        width: 58%;
    }
    #articles h2{
        font-size: 20px;
    }
    #articles article h4{
        font-size: 15px;
    }
    #articles .data{
        font-size: 9px;
    }
    #articles article p{
        margin-top: 9px;
        margin-bottom: 9px;
        font-size: 8px;
    }
}













@media(max-width: 725px){
    #menu ul li{
        font-size: 20px;
    }
    #logo{
        width: 148px;
        margin-top: 7px;
        margin-left: -7px;
    }
    #logo h3{
        font-size: 35px;
        margin-right: 17px;
    }
    .gear, .icon {
        margin-left: 16px;
    }
    #banner h1{
        font-size: 28px;
    }
    .card {
        width: 17.68%;
        height: 174px;
        margin: 1%;
    }
    .card .icon {
        line-height: 83px;
    }
    .card .description {
        display: none;
    }
    .card .category {
        height: 30px;
        font-size: 13px;
        line-height: 18px;
    }
    #lateral{
        min-height: 1006px;
    }
    #lateral h3{
        font-size: 19px;
        height: 33px;
        line-height: 36px;
    }
    #login a {
        font-size: 13px;
        margin-left: 32px;
        padding: 4px;
    }
    #login a{
        color: rgb(246, 12, 3);
    }
    #login input[type="submit"], 
    #login input[type="button"], 
    #login input[type="reset"], 
    #login button{
        width: 35.5%;
        margin-top: 13px;
    }
    #login input[type="submit"] {
        margin-left: 33%;
    }
    #articles h2{
        font-size: 18px;
        height: 53px;
        line-height: 57px;
    }
    #articles .data {
        height: 22px;
        line-height: 21px;

    }
    #footer h5 {
        height: 29px;
        line-height: 30px;
        font-size: 18px;
    }
    #footer #browsers img{
        width: 13%;
    }
    #footer #browsers{
        width: 109%;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 1px;
    }
    #footer #info p > img {
        width: 140px;
        margin-top: 6px;
        margin-bottom: 5px;
    }
    #location iframe{
        height: 44%;
        width: 107%;
    }
    #autor{
        font-size: 14px;
        margin-top: 8px;
    }
}










@media(max-width: 593px){
    #header{
        width: 100%;
        height: 120px;
    }
    #menu{
        clear: both;
        float: none;
        width: 73%;
        margin: 0px auto;
    }
    #menu ul li a{
        font-size: 17px;
    }
    #banner{
        height: 84px;
    }
    #banner h1 {
        font-size: 21px;
    }
    .card .icon {
        height: 100px;
        line-height: 100px;
    }
    #social a {
        font-size: 25px;
        margin-left: 17px;
        margin-top: 11px;
        margin-bottom: 20px;
    }
    .aside-box {
        height: 225px;
        margin-top: 16px;
    }
    #lateral input[type="button"] {
        margin-left: 15%px;
        width: 40px;
    }
    #logo{
        float: none;
        margin: 0px auto;
    }
    #login #password, 
    #login #user {
        margin-left: 13px;
    }
    #login a {
        font-size: 11px;
        margin-left: 30px;
        padding: 1px;
        font-size: 10px;
    }
    #login #password, 
    #login #user{
        margin-top: 5px;
        font-size: 16px;

    }
    #login #password {
        font-size: 19px;
        margin-top: 25px;
    }
    #login input[type="email"], #login input[type="password"] {
        width: 68%;
    }
    #articles .data{
        font-size: 8px;
        padding: 1px;
    }
    #footer h5 {
        height: 27px;
        width: 102%;
        line-height: 30px;
        font-size: 18px;
        font-size: 15px;
    }
    #footer #info p > img {
        margin-left: 3px;
    }
    #footer #browsers{
        margin-left: -5px;
    }
    #footer #browsers img {
        margin-top: 5px;
    }
    #footer ul {
        font-size: 14px;
    }
    #login input[type="submit"], 
    #login input[type="button"], 
    #login input[type="reset"], 
    #login button {
        margin-bottom: 16px;
        margin-top: 14px;
        width: 84px;
    }
    #login input[type="submit"]{
        margin-left: 21%;
    }
}











@media(max-width:552px){
    #header{
        width: 100%;
        height: 25%;
    }
    .wrap {
        width: 100%;
        margin: 0px auto;
    }
    .card {
        width: 18.65%;
        height: 174px;
        margin: 0.5%;
    }
    #lateral h3 {
        font-size: 14px;
        height: 30px;
        line-height: 36px;
    }
    #menu {
        clear: both;
        float: none;
        width: 100%;
        margin: 0px auto;
        margin-left: 26%;
    }
    #menu ul li {
        margin: 10px 10px 0px 10px;
        line-height: 39px;
    }
    #footer ul {
        font-size: 12px;
    }
    #footer ul li a {
        height: 15px;
    }
    
}










@media(max-width:500px){
    #lateral,
    #articles{
        width: 100%;
    }
    #lateral h3 {
        font-size: 14px;
        height: 30px;
        line-height: 36px;
        margin-left: 35px;
    }
    #footer {
        height: 237px;
    }
    #articles article {
        width: 93%;
        height: auto;
        margin: 12px auto;
        padding: 10px;
    }
    #blog{
        line-height: 55px;
    }
    #blog a {
        font-size: 28px;
    }
    .card {
        width: 17.65%;
        height: 136px;
        margin: 1%;
    }
    .card .icon {
        font-size: 29px;
        height: 83px;
        line-height: 100px;
    }
    .card .category {
        height: 14px;
        font-size: 11px;
        line-height: 18px;
    }
    #lateral {
        margin: 6px;
    }
    #lateral h3 {
        width: 30%;
    }
    #lateral input[type="button"] {
        margin-left: 79%;
        width: 30px;
    }
    #menu {
        width: 100%;
        margin: 0px auto;
        margin-left: 22.5%;
    }
}









@media(max-width:433px){
    #menu {
        width: 100%;
        margin: 0px auto;
        margin-left: 7%;
    }
    .card {
        width: 16.65%;
        height: 136px;
        margin: 1%;
        margin-left: 6px;
    }
}





@media(max-width:361px){
    #footer{
        height: auto;
        padding-bottom: 40px;
    }
    #footer h5{
        float: none;
    }
    #footer .wrap > div{
        width: 100%;
        margin: 0px auto;
        margin-top: 20px;
        height: 23%;
    }
    #menu {
        width: 100%;
        margin: 0px auto;
        margin-left: 11%;
    }
    #search {
        width: 80%;
    }
    #lateral input[type="button"] {
        margin-left: 71%;
        width: 30px;
    }
    .card .icon{
        font-size: 25px;
    }
    .card:hover .icon{
        font-size: 25px;
    }
}










@media(max-width:319px){
    #menu {
        clear: both;
        float: none;
        width: 100%;
        margin: 0px auto;
        margin-left: 6%;
    }
    #menu li{
        width: 100%;
        line-height: 30px;
    }
    #header{
        height: 248px;
    }
}



/************Clases mias**************/






