/* Fuentes */
@font-face{
    font-family: "TrebuchetMS";
    src:url('fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "BebasNeue";
    src:url('fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "websymbols-regular";
    src: url('fonts/websymbols-regular-webfont.eot');
    src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/websymbols-regular-webfont.woff') format('woff'),
         url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
         font-weight: normal;
         font-style: normal;
}

/* Estilos generales */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url('../img/pattern.png');
}
.wrap{
    width: 1251px;
    margin: 0px auto;
}
/* Cabecera */
#header{
    width: 100%;
    height: 70px;
    background-color: black;
    font-family: "BebasNeue";
    color: white;
}
#logo{
    float: left;
    width: 200px;
    background-color: #37bcf9;
    text-align: center;
    margin-top: 8px;
    margin-left: 21px;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
}
#logo:hover{
    border-radius: 2px;
    color: black;
    background-color: #ccc;
}
#logo:hover .gear{
    /* Linear: Tiene el mismo ritmo la animacion todo el rato */
    animation: fromBellow 500ms linear;
}
@keyframes fromBellow{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0%);
    }
}
#logo h3{
    font-size: 40px;
    display: block;
    float: right;
    font-size: 40px;
    margin-top: 5px;
    margin-right: 65px;
    transition: all 300ms;
}
#logo:hover h3{
    animation: fromRight 300ms linear;
}

@keyframes fromRight{
    from{
        transform: translateX(200%);
    }
    to{
        transform: translateX(0%);
    }
}

/* .icon: para poner los simbolos de WebSymbols, Clase propia */
.gear, .icon{
    font-family: "websymbols-regular";
}
#logo .gear{
    display: block;
    float: left;
    font-size: 30px;
    margin-top: 7px;
    margin-left: 26px;
    animation-name: rotate-gear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate-gear{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}




#menu{
    float: right;
    height: 70px;
    background: transparent;
}
#menu ul li{
    font-size: 24px;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
    line-height: 70px;
}
#menu ul li a{
    display: block;
    color: white;
    text-decoration: none;
    transition: all 250ms;
}
#menu ul li a:hover{
    color: #37bcf9;
    transform: scale(1.2,1.2);
}

/***** BANNER ************/
#banner{
    width: 94.8%;
    height: 100px;
    border: 10px solid white;
    box-shadow: 0px 0px 2px gray;
    background: url("../img/bakbaner.png");
    background-position: -200px -200px;
    margin: 20px auto;
}
#banner h1{
    display: block;
    width: 850px;
    font-family: "BebasNeue";
    color: white;
    font-size: 45px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 27px auto;
    text-shadow: 2px 2px 1px black;
}

/* Tarjetas */
.card{
    float: left;
    width: 208.5px;
    height: 305px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ddd;
    overflow: hidden;
    margin: 20px;
    margin-top: 40px;
    cursor: pointer;
}
.card:last-child{
    margin-right: 0px;
}
.card .icon{
    display: block;
    width: 100%;
    height: 130px;
    font-size: 50px;
    line-height: 110px;
    text-align: center;
    margin: 0px auto;
}
.card .category{
    width: 100%;
    height: 50px;
    font-family: "TrebuchetMS";
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #00538c;
}
.card .description{
    font-family: "TrebuchetMS";
    text-align: center;
    color: #006fb9;
    font-size: 15px;
}
/********** Barra lateral ****************/
/* #lateral input[type="button"]{
    font-family: "websymbols-regular";
    font-size: 12px;
} */