/* SELECTORES*/
/* Selector Universal */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Selector de etiqueta */
h1{
    background: red;
    color:wheat;
    padding: 10px;
    margin: 0px;
}
a{
    font-size: 20px;
    color: brown;
    text-decoration: none;
}
footer a{
    color: cadetblue;
}


/* Selector de Id */



/* Selector de Clase */



/* Selector de atributo */


