body{
    background-color: #ccc; 
    background-image: url(img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: right bottom;
}

#caja{
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(164, 170, 245);
    color: blue;
}
h2{
  color: red;
  background-color: white;
  background-image: url(img/patron.png);
  border: 5px solid black;
  text-align: center;
  padding: 15px;
}
p{
  color: aliceblue;
  font-size: 25px;
}

