/* 
1. Crear HTML y CSS y enlazar.(X)
2. crear cont general para todo(X)
3. header, menu, barra lateral, seccion pral, elementos en cont pral y footer(X)
4. Conte general 1200px ancho. centrado(X)
5. header: ocupa el 100% ancho y tener un txt grande centrado(X)
6. menu: los elemntos uno al lado del otro.(X)
7. el  contenido pral debe tener un ancho de 70%(X)
8. El cont debe ser una cuadricula con 4 lineas de 2 cajas(X)
9. La barra lateraldebe tener un ancho del 30%,(X)
10. Footer ancho 100%(X)
*/

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#general{
    width: 1200px;
    margin: 0px auto;
    /* margin-top: 20px; */
    background: transparent;
}
#contenido{
    width: 70%;
    float:left;
    background:#ffffff;
}
.lateral{
    width: 29%;
    float: left;
    background: #ffffff;
    border: 1px solid red;
    min-height: 500px;
    text-align: center;
}
#contenido > h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    color: #bfeed1;
    padding: 10px;
    text-shadow: 1px 1px 8px rgb(9, 97, 39) ;
}
#contenido .caja{
    float: left;
    margin: 20px;
    margin-left: 43px;
    /* border: 1px solid black; */
    width: 40%;
    height: 250px;
    color: #04531659;
    text-align: center;
    line-height: 200px;
    text-transform: uppercase;
    box-shadow: 5px 5px 15px #04531659;
}
#contenido .caja>h2{
    background: transparent;
}

.sombra-interior{
    box-shadow: 5px 5px 25px #04531659 inset !important;
}

header{
    width: 100%;
    height: 100px;
    background: #063be7;
    color: rgb(135, 180, 222);
    text-align: center;
    line-height: 80px;
}
footer{
    background: #ffffff;
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #bfeed1;
    text-shadow: 1px 1px 5px rgb(9, 97, 39);
    border-top: 4px solid #3d5d4924;
}
.menu{
    background:transparent;
}
nav .menu{
    height: 74;
}
/* .menu > ul{
    background: transparent;
    height: 74;

} */
.menu ul li{
    /* display: inline-block; */
    display: block;
    float:left;
    /* border-right: 1px solid rgb(14, 85, 29); */
    
}
.menu ul li a{
    display: block;
    padding: 15px;
    color:#0508aa;
    font-size: 25px;
}

.menu ul li:hover{
    text-shadow: 0px 1px 3px rgb(1, 141, 255) ;
    /* background: #cfcfcf; */
    transition: 375ms;
    cursor: pointer;
}

.menu ul li:hover a{
    color: rgb(96, 138, 255);
}

.clearfix{
    float: none;
    clear: both;
}
