/* 
1. Crear HTML y CSS y enlazar.(X)
2. crear cont general para todo
3. header, menu, barra lateral, seccion pral, elementos en cont pral y footer
4. Conte general 1200px ancho. centrado
5. header: ocupa el 100% ancho y tener un txt grande centrado
6. menu: los elemntos uno al lado del otro.
7. el  contenido pral debe tener un ancho de 70%
8. El cont debe ser una cuadricula con 4 lineas de 2 cajas
9. La barra lateraldebe tener un ancho del 30%,
10. Footer ancho 100%
*/

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}