/* 
1. Crear HTML y CSS y enlazar.(X)
2. crear cont general para todo(X)
3. header, menu, barra lateral, seccion pral, elementos en cont pral y footer(X)
4. Conte general 1200px ancho. centrado(X)
5. header: ocupa el 100% ancho y tener un txt grande centrado(X)
6. menu: los elemntos uno al lado del otro.(X)
7. el  contenido pral debe tener un ancho de 70%(X)
8. El cont debe ser una cuadricula con 4 lineas de 2 cajas(X)
9. La barra lateraldebe tener un ancho del 30%,(X)
10. Footer ancho 100%(X)
*/

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background: #bfeed1;
}

#general{
    width: 1200px;
    margin: 0px auto;
    /* margin-top: 20px; */
    background: #bfeed1;
}
#contenido{
    width: 70%;
    float:left;
    background: rgb(191, 238, 209);
}
.lateral{
    width: 30%;
    float: left;
    background: #bfeed1;
    min-height: 500px;
    text-align: center;
}
#contenido > h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    color: #bfeed1;
    padding: 10px;
    text-shadow: 1px 1px 8px rgb(9, 97, 39) ;
}
#contenido .caja{
    float: left;
    margin: 20px;
    margin-left: 43px;
    border: 1px solid black;
    width: 40%;
    height: 250px;
    /* background: #2e9b58; */
    color: #04531659;
    text-align: center;
    line-height: 200px;
    text-transform: uppercase;
    box-shadow: 5px 5px 15px #04531659;
}

.sombra-interior{
    box-shadow: 5px 5px 15px blue inset !important;
}

header{
    width: 100%;
    height: 100px;
    background: #bfeed1;
    text-align: center;
    line-height: 80px;
}
footer{
    background:#bfeed1;
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #bfeed1;
    text-shadow: 1px 1px 5px rgb(9, 97, 39);
    border-top: 4px solid #3d5d4924;
}
.menu{
    background: #bfeed1;
}
.menu ul li{
    /* display: inline-block; */
    display: block;
    float:left;
    border-right: 1px solid rgb(14, 85, 29);
    
}
.menu ul li a{
    display: block;
    padding: 15px;
    color:#057d214f;
    text-shadow: 1px 1px 2px rgb(9, 97, 39) ;
    font-size: 25px;
}

.menu ul li:hover{
    /* background-color: rgb(160, 153, 92); */
    transition: 1300ms;
    cursor: pointer;
}

.menu ul li:hover a{
    color: rgb(9, 16, 114);
}

.clearfix{
    float: none;
    clear: both;
}
