h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique ;
}
h3{
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: lighter;
}
p{
    font-family: sans-serif;
    font-weight: 1000;
}
