*{
    margin: 0px;
    padding: 0px;
}
.clearfix{
    float: none;
    clear: both;
}
#container{
    width: 70%;
    background: cornsilk;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 150px;
    background: lightblue;
    color: #333;
    line-height: 150px;
    text-align: center;
}
aside{
    width: 25%;
    min-height: 1300px;
    float: left;
    background: cornsilk;
    text-align: center;
    line-height: 700px;
}
#articles{
    float: left;
    width: 75%;
    min-height: 1300px;
    background-color: lemonchiffon;
}
#articles article{
    width: 25%;
    height: 250px;
    background-color: green;
    color: white;
    line-height: 250px;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin: 15px;
    font-size: 26px;
}
footer{
    margin: 0px auto;
    width: 99%;
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: teal;
    text-align: center;
    font-size: 15px;

}
/********** RESPONSIVE ************/
/* Desde la anchura 0px hasta 1579px */
@media (max-width: 1579px){
    #container{
        overflow: hidden;
    background: cornsilk;
    }
    aside{
        float: none;
        min-height: auto;
        line-height: 20px;
        width: 93%;
        padding: 23px;

    }
    #articles{
        width: 100%;
    }
    #articles article{
        width: 40%;
        background: red;
    }
}
@media(max-width:1088px){
    #articles article{
        width: 100%;
        background-color: teal;
    }
}