body{
    text-align: center;
    font-family: sans-serif;
}

/*Segundo ejercicio (zona de arriba en el html)*/
#website *{
    margin: 0px;
    padding: 0px;
}
#website{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 70px 1fr 70px;
    
    width: 75%;
    height: 1000px;
    margin: 0px auto;
    border: 1px solid #ccc;
}
#cabecera{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/6;
    background: blue;
    color: white;
}





#menu{
    grid-column: 1/6;
    background: lightblue;
    color: black;
}
#menu ul{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#contenido{
    grid-column: 1/5;
    grid-row: 3/4;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    padding: 20px;

    background: #eee;
}
#contenido article{
    background: #ccc;
    border: 1px solid#555;
}
#lateral{
    grid-column: 5/6;
    grid-row: 3/4;

    background: orange;
    color: white;
}
footer{
    grid-column: 1/6;
    background: black;
    color: white;
}











/*Primer ejercicio (zona de abajo en el html)*/
.layout{
    width: 80%;
   height: 600px;
    margin: 0px auto;
    /* Definir Grid */
    display: grid;
    /* Definir Columnas */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr) 3fr repeat(2,1fr);

    /* Espacio entre elementos grid */
    grid-gap: 10px;
    padding: 10px;
    border: 3px solid orangered;
}

.layout .caja{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    background: grey;
}
.layout .red{
    grid-column-start: 1;
    grid-column-end: 4;
    background: red;
}
.layout .green{
    grid-row-start: 2;
    grid-row-end: 6;
    background: green;
}
.layout .blue{
    grid-column: 2 / 4;
    background: blue;
}
.layout .pink{
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    background:rgb(255, 140, 159);
}
.layout .grey{
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    background:grey;
}
.layout .brown{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 2 / 4;
    background:brown;
}