/**********************************/
/************ FUENTES *************/
/**********************************/
@font-face{
    font-family: "nevis";
        src:url("fonts/nevis.eot"),
            url("fonts/nevis.eot?#iefix") format("embedded-opentype"),
            url("fonts/nevis.woff") format("woff"),
            url("fonts/nevis.ttf") format("truetype"),
            url("fonts/nevis.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/****************************-*********/
/********** Estilos generales *******/
/**********************************/
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url("../img/paven.png");
}
/*** Formularios ***/
input[type="text"],
input[type="password"],
input[type="email"],
select{
    border:1px solid #C9C9C9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: rgb(185, 185, 185);
    transition: all 300ms;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus{
    border: 3px solid #70b231;
    color: rgb(0, 0, 0);
}
input[type="button"],
input[type="submit"],
input[type="reset"],
button{
    display: block;
    border-radius: 2px;
    border: 1px solid green;
    width: 60px;
    padding: 3px;
    background-color: #70b231;
    cursor: pointer;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover{
    box-shadow: 0px 0px 2px grey;
}
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active{
    box-shadow: 0px 0px 3px grey inset;
    text-shadow: 0px 0px 1px #ccc;
}





/************************************/
/************ Cabecera *************/
/**********************************/

header{
    min-width: 1024;
    width: 100%;
    height: 250px;
    margin: 0px auto;
}
header a{
    text-decoration: none;
}
header #logotipo{
    width: 502px;
    margin: 0px auto;
    padding: 32px;
}
header #logotipo img{
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 180px;
}
header h1{
    text-align: center;
    font-size: 60px;
    font-family: "nevis";
    letter-spacing: 4px;
    margin-top: -7px;
    text-shadow: 0px 2px 2px #333333;
    transition: all 300ms;
}
header h1:hover{
    text-shadow: 0px 2px 3px #333333 , 0px 0px 7px  #70b231;
}
header h1 a{
    color: #70b231;
}







/************************************************/
/****** Barra del MENU de Navegacion ***********/
/************************************************/
nav{
    margin-top: 116px;
    width: 100%;
    background-color: #333333;
    color: white;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    box-shadow: 0px 0px 2px gray;
}
nav ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 1500px;
}
nav > ul > li{
    line-height: 60px;
    float: left;
    border-right: 1px solid grey;
    transition: all 500ms;
}
nav > ul > li a{
    display: block;
    color: whitesmoke;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}
nav >ul>li>a:first-child{
    border-left: 1px solid grey;
}
nav > ul > li:hover{
    background-color: #70b231;
    box-shadow: 4px 3px 12px rgb(0, 83, 0) inset;
}





/*****************************/
/***** MENU DESPLEGABLE ******/
/*****************************/
nav > ul > li >ul{
    display: none;
    position: absolute;
    width: 180px;
    box-shadow: 0px 2px 2px grey;
    z-index: 1;
}

nav>ul>li:hover>ul{
    display: block;
}
nav > ul > li:hover >ul > li{
    background-color: #70b231;
    /* border-bottom: 1px solid grey; */
    padding: 8px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 700;
    transition: all 300ms;
}
nav > ul > li >ul > li a{
    color: #005218;
}
nav > ul > li >ul > li:hover{
    box-shadow: 2px 5px 6px#3c5f1c inset, -2px -5px 6px #3c5f1c inset;
    background: #40790c;
}






/*************************************/
/********** Contenido ***************/
/***********************************/
#content{
    width: 1800px;
    min-height: 1500px;
    margin: 0px auto;
}
/* Barra lateral */
#aside{
    width: 240px;
    float: left;
    margin: 30px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 4px 4px #ccc;
    font-family: Arial, Helvetica, sans-serif;
}
#aside .widget{
    display: block;
    width: 180px;
    margin: 5px auto;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    border-bottom: 1px dashed #333333;
}
#aside .widget:last-child{
    margin-bottom: 20px;
}
#aside h3{
    display: block;
    color: #333333;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #D9D9D9;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}
