/* FUENTES */
@font-face{
    font-family: "nevis";
        src:url("fonts/nevis.eot"),
            url("fonts/nevis.eot?#iefix") format("embedded-opentype"),
            url("fonts/nevis.woff") format("woff"),
            url("fonts/nevis.ttf") format("truetype"),
            url("fonts/nevis.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* Estilos generales */
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url("../img/paven.png");
}
/* Cabecera */
header{
    min-width: 1024;
    width: 100%;
    height: 250px;
    margin: 0px auto;
}

header a{
    text-decoration: none;
}
header #logotipo{
    width: 502px;
    margin: 0px auto;
    padding: 32px;
}
header #logotipo img{
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 180px;
}
header h1{
    text-align: center;
    font-size: 60px;
    font-family: "nevis";
    letter-spacing: 4px;
    margin-top: -7px;
    text-shadow: 0px 2px 2px #333333;
    transition: all 300ms;
}
header h1:hover{
    text-shadow: 0px 2px 3px #333333 , 0px 0px 7px  #70b231;
    
}
header h1 a{
    color: #70b231;
}



/* Barra del Menu de Navegacion */
nav{
    margin-top: 116px;
    width: 100%;
    background-color: #333333;
    color: white;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-shadow: 0px 0px 2px gray;
}
nav ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 1285px;
}
nav > ul > li{
    line-height: 60px;
    float: left;
    border-right: 1px solid grey;
    transition: all 500ms;
}
nav > ul > li a{
    display: block;
    color: whitesmoke;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}
nav >ul>li>a:first-child{
    border-left: 1px solid grey;
}
nav > ul > li:hover{
    background-color: #70b231;
    box-shadow: 4px 3px 12px rgb(0, 83, 0) inset;
}