/* SELECTORES*/
/* Selector Universal */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Selector de etiqueta */
h1{
    background: red;
    color:wheat;
    padding: 10px;
    margin: 0px;
}
a{
    font-size: 20px;
    color: rgb(42, 165, 63);
    text-decoration: none;
}
footer a{
    color: cadetblue;
}

/* Selector de Id */
#descripcion,
#titulo{
    border: 2px dashed black;
    padding:15px;
    background-color: darkcyan;
}
#titulo{
    color: rgb(88, 8, 8);
    border: 2px dashed rgb(78, 3, 3);
}
/* Selector de Clase */
.parrafo{
    color: rgb(20, 45, 155);
    background-color: darkcyan;
    font-style: italic;
    /* text-decoration: underline; */
    font-weight: bold;
    padding: 10px;
}
/******************************************/
/* Selector de atributo */
#usuario form{
    border: 5px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
}
#usuario form *{
    display: block;
}
input[type="text"]{
    margin-bottom: 13px;
    padding: 6px;
    width: 300px;
}
input[type=submit]{
    background: green;
    color: #0a5306;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid rgb(0, 63, 10);
    width: 150px;
    padding: 6px;
    cursor: pointer;

}
/* Selector Hijo */
#menu > li > ul > li > a{
    font-size: 20px;
    color: rgb(247, 8, 8);
    text-decoration: none;
}

/* Prioridad */
#saludo h1{
   background: blueviolet; 
}
h1{
    background: blue !important;
}

